.no-scroll {
  overflow: hidden;
}

.lightbox {
  display : none;
}

.lightbox_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color : rgba(202, 202, 202, 0.6);
  animation : lightboxIn .5s;
  overflow : hidden;
}




button.lightbox_next,
button.lightbox_prev {
  border: none;
  background: url(../assets/icons/chevron.svg) center center / 100% 100%;
  width: 30px;
  height: 45px;
  position: fixed;
  right:87px;
  top: 50%;
  z-index: 1310;
  margin-top: -14px;
  cursor: pointer;
  text-indent: -3000px;
  transition: .3s;
}

.lightbox_next:hover
.lightbox_prev:hover {
  opacity: 1;
}

.lightbox_prev {
  right : auto;
  left:87px;
  transform: rotate(180deg);
}

.lightbox_close {
  cursor : pointer;
  border : none;
  background : url(../assets/icons/close.svg)center center / 100% 100%;
  width : 30px;
  height : 30px;
  position : fixed;
  z-index : 1320;
  top : 85px;
  right :91px;
  transition : .3s;
}

.lightbox_close:hover {
  opacity : .5;
}

.lightbox_media {
  height : 500px;
  object-fit : cover;
  max-width: 80%;
  justify-self: center;
  box-shadow: 6px 5px 12px rgba(82, 82, 82, 30%);
  animation : lightboxIn .5s;
  margin-left : 70px;
}

.lightbox_media:hover  {
  transform: none;
  outline: none;
}

.lightbox_title {
  font-size : larger;
  color : #901C1C;
  display : flex;
  margin-left : 75px;
}

.lightbox_view {
animation-name: modalopen;
animation-duration: var(--modal-duration);
overflow: hidden;
position: relative;
max-width: 85%;
margin: auto;
display: flex;
flex-direction : column;
flex-wrap: wrap;
justify-content: center;
margin-top: 50px;
}

@keyframes lightboxIn {
  from {opacity : 0}
to {opacity : 1}
}


