.lightbox_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color : rgba(202, 202, 202, 0.6);
  animation : lightboxIn .5s;
}

.lightbox {
position: fixed;
top: 50vh;
left: 50vw;
transform: translate(-50%, -50%);
z-index: 11;
margin: auto auto;
border-radius: 3px;
width: 50vw;
min-width: 32rem;
height: 70vh;
overflow: hidden;
}

.lightbox_next,
.lightbox_prev {
  border: none;
  background: url(../assets/icons/chevron.svg) center center / 100% 100%;
  width: 30px;
  height: 45px;
  position: fixed;
  right:87px;
  top: 50%;
  z-index: 1310;
  margin-top: -14px;
  cursor: pointer;
  text-indent: -3000px;
  transition: .3s;
}

.lightbox_next:hover
.lightbox_prev:hover {
  opacity: 1;
}

.lightbox_prev {
  right : auto;
  left:87px;
  transform: rotate(180deg);
}

.lightbox_close {
  cursor : pointer;
  border : none;
  background : url(../assets/icons/close.svg)center center / 100% 100%;
  width : 30px;
  height : 30px;
  position : fixed;
  z-index : 1320;
  top : 85px;
  right :91px;
  transition : .3s;
}

.lightbox_close:hover {
  opacity : .5;
}

.lightbox_container {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  width: 45vw;
  min-height:100vh;
}

.lightbox-media_element {
  display: block;
  object-fit: cover;
  justify-self: center;
  max-width : 80%;
  height : auto;
  box-shadow: 6px 5px 12px rgba(82, 82, 82, 0.2);
  animation : lightboxIn .5s;
}

.lightbox-media_title {
  font-weight: 200;
  z-index: 1240;
  position: fixed;
  top: 524px;
  right: 784px;
  color : #901C1C;
}

/*.lightbox_loader {
  position : relative;
  z-index : 1400;
  left : 426px;
  width : 60px;
  height: 60px;
  opacity : .5s;
  background: url(../assets/icons/loader.svg) center center no-repeat;*/
}

@media screen and (max-width: 1100px) {
  .lightbox__container {
   
    width: 75vw;
    height: 100vh;
    
    grid-template-rows: 3vh 89vh 5vh 3vh;
   
  }
}

@media screen and (max-width: 540px) {
  .lightbox {
    max-width: 500px;
}
}

@keyframes lightboxIn {
  from {opacity : 0}
to {opacity : 1}
}


