body {
  margin: 50px;
}

.back_modal {
  position: fixed;
  top: 0;
  z-index: 8000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  left: 247px;
  overflow: auto;
  position: fixed;
  top: 115px;
  bottom: 115px;
  border-radius: 5px;
  background-color: #db8876;
  width: 45%;
  z-index: 1;
  padding: 0 25px 10px 25px;
  margin: auto;
  height: 94%;
  box-shadow: 10px 6px 12px rgb(82 82 82);
}

/*create section picture by photograph*/

.photograph-section_picture img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  text-decoration: none;
  grid-column: 3;
  box-shadow: 6px 5px 12px rgb(82 82 82 / 30%);
}

#photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 60px;
  align-content: center;
  align-items: center;
  justify-items: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 30px 50px;
}

#filter {
  display: flex;
  justify-content: center;
}

header img {
  grid-column: 1;
  margin-left: 50px;
  width: 180px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

header .logo {
  grid-column: 1;
  grid-row: 1;
  margin-left: 50px;
  width: 180px;
  border-radius: 0px;
  height: auto;
}

.photograph-section_header {
  grid-column: 1;
}

.photograph-section_header h1 {
  font-size: 40px;
  font-weight: 500;
  color: #d3573c;
  margin-bottom: 0;
}
.photograph-section_header h3 {
  font-size: 20px;
  font-weight: 600;
  color: #901c1c;
  margin-top: 0;
}
.photograph-section_header p {
  color: #525252;
}

label {
  display : flex;
  position : absolute;
  margin-top : 20px;
  font-weight: bolder;
  margin-right: 20px;
}

.btn,
.contact_button {
  cursor: pointer;
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  padding: 1.2rem;
  margin-top: 2rem;
  width: 170px;
  min-width: 170px;
  min-height: 35px;
  font-weight: 500;
}

.contact_button:hover {
  background-color: #d3573c;
  color: black;
  font-weight: bold;
  transform: scale(1.05);
}

// create dropdown toogle
#dropdown-listbox_select {
  position : absolute; 
  cursor : pointer;
  background : ;
}

#dropdown-list {
  position : relative;
  background-color: #911c1c;
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 150px;
  cursor: pointer;
  display: flex;
}

#dropdown-listbox_select {
  position: relative;
  display: inline-block;
}

}

#dropdown-list #dropdown-list_select:hover {
  background-color : #651414;
  cursor: pointer;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* create photograph's mediaGallery by id */

#photograph-section_media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
  gap: 40px;
}
#photographer-section_media a {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a {
  display: flex;
  width: 100%;
}

figure {
  margin: 2px;
  width: 100%;
  height: 350px;
}

img,
video {
  width: 100%;
  object-fit: cover;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  height: 300px;
}

.cards-media-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

p.cards-media_title,
span {
  font-size: 23px;
  color: #901c1c;
  font-weight: 500;
}

div.cards-media_likes {
  color: #901c1c;
  display: flex;
  align-items: center;
}

span {
  font-size: 20px;
  color: #901c1c;
  font-weight: bolder;
  margin-right: 5px;
}

.cards-media_total_likes_btn {
  background: none;
  border: none;
  color: #911c1c;
  font-size: 1.6rem;
  cursor: pointer;
}

/*--------------------create contact modal-------------------------------------*/

.modal_container {
  justify-content: space-between;
  width: 100%;
}

.modal_container-header {
  display: flex;
  justify-content: space-between;
}

.modal header img {
  cursor: pointer;
}

#modal-container_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.title_contact,
#modal_name {
  font-size: 37px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.formulaire {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-label {
  color: #312e2e;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
  position:static;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.form-input:focus {
  border: 1px solid red;
}

.form-text {
  height: 135px;
  border: none;
  border-radius: 5px;
}

.form-submit {
  margin-top: 20px;
}

.form-submit_btn,
.select-list {
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  width: 170px;
  cursor: pointer;
}
.form-submit_btn:hover {
  background-color: #bb2424;
}

/*btn2 boutton close form*/
i#close {
  color: white;
  font-size: 35px;
  margin-top: 30px;
}

#close:hover,
#close:focus {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

/*display compteur like */
#compteur_like {
  background-color: #d3573c;
  display: flex;
  z-index: 2;
  justify-content: center;
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 3%;
  border-radius: 5px 5px 0 0;
  padding: 0 10px 0 10px;
  transition: all 0.5s ease-in-out;
  color: black;
  font-weight: bolder;
  width: 22%;
}

.compteur-section_like_aside {
  display: flex;
  align-items: center;
}

.compteur-section_price {
  margin-left: 40px;
  font-size: 20px;
}

