@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: grid;
    grid-template-columns:30% 42% 30%;
    gap: 1rem 0rem;
    grid-template-rows: repeat(2, 1fr);
}

header h1 {
    color: #901C1C;
    font-size: 22px;
    font-weight: 700;
    grid-column: 3;
    margin-left: 47px;
}

header img {
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
    width: 180px;
}

.header_hashtags {
    grid-column: span 2;
    grid-row: 2;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_hashtags_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.3rem;
    justify-content: center;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a h2 {
    color: #D3573C;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}

a:link 
{ 
 text-decoration:none; 
} 

#floating-btn {
    display: flex;
    z-index: 2;
    justify-content: center;
}

.hashtags {
    grid-columns-start: 1;
    grid-columns-end: 4;
margin: 0 auto
}

article {
    color: black;
    font-size: 12px;
    flex-direction: column;
    display : flex;
    align-items: center;
}

h3 {
    color: #901C1C;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight : 600;
}

p {
    margin-top: 0px;
}

.photographer_section a img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-decoration: none;
    
  }


<!--modal--> 
