/**@import url("photographer.css");
Pas besoin pour le moment*/

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: grid;
    grid-template-columns:30% 42% 30%;
    gap: 1rem 0rem;
    margin-top : 20px;
}

header h1 {
    color: #901C1C;
    font-size: 30px;
    font-weight: 600;    
    grid-column: 3;
}

.icone {
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
    width: 180px;
    
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 a.photographer-section_link:hover {
    transform: scale(1.1);
}

.photographer_section a h2 {
    color: #D3573C;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top : 5px;
}

a:link 
{ 
 text-decoration:none; 
} 

#floating-btn {
display: flex;
z-index: 2;
justify-content: center;
position: fixed;
top: 0;
text-align: center;
left: 41%;
background-color: #db8876;
border-radius: 0 0 0.6rem 0.6rem;
padding: 0.8rem 0.8rem;
transition: all 0.5s ease-in-out;
color: black;
font-weight:bolder;
}



#floating-btn:hover, #floating-btn:hover {
    background-color : #901C1C;
    color: white;    
    //transform: translate(0, 50%);
}

.hashtags {
    grid-columns-start: 1;
    grid-columns-end: 4;
    margin: auto;
}

article {
    color: black;
    font-size: 12px;
    flex-direction: column;
    display : flex;
    align-items: center;
    margin-top: 10px;
}

h3 {
    color: #901C1C;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight : 400;
    font-weight : bolder;
}

p.photographer-section_tagline {
    font-weight : bolder;
    margin-bottom : 4px;
    font-size : 10px;
    margin-top: 2px;
}

p.photographer-section_price {
    font-size : 8px;
    color : #525252;
    margin-top: 2px;

    
}

.photographer_section a img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    text-decoration: none;
    box-shadow: 6px 5px 12px rgba(82, 82, 82, 0.2);
        
  }


<!--modal--> 
